/* Debug */

main {
    height: 600px;
    background-color: lightgreen;
}


/* Debug */


/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1320px;
    margin: auto;
}

.flex {
    display: flex;
}

.just-cont-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}


/* Header */

header {
    font-weight: 500;
}

#first-list {
    background-color: #E6E6E6;
    padding: 10px;
}

#second-list {
    height: 100px;
}

#second-list>img {
    height: 100%;
    padding-right: 25px;
}

.list-container {
    width: 100%;
}

#first-list li,
#second-list li {
    display: flex;
}